/* STILE IN COMUNE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Montserrat", serif;
    
    
}

img{
    width: 100%;
    display: block;
}

hr{
    display: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1{
    color: #fbfcfb;
    margin-bottom: 20px;
}

h3{
    color: #fbfcfb;
    padding-bottom: 15px;
    padding-top: 15px;
}

p {
    color: #5c5c5c;
}



/* LAYOUT */
.container {
    display: flex;
    height: 90vh; /*  min-height invece di height per permettere la crescita */
}

.sidebar {
    background-color: #000000;
    width: 60px; 
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 15px;
    margin-top: auto;
    flex-shrink: 0;

    overflow-y: auto; /* Abilita lo scroll solo in verticale */
    overflow-x: hidden; /* Evita lo scroll orizzontale */
    
}



.main-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}

.header-content{
  
    height: 90px;
    background-color:#10151b;
}

.music-content{
   
    height: 100%;
    background-color: #151922;
    overflow-y: auto; /* Abilita lo scroll solo in verticale */
    overflow-x: hidden; /* Evita lo scroll orizzontale */
}



footer{
    height: 10vh;
    background-color: #282828;
}

/* LOGO */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.logo .small-logo img {
    width: 30px;
    height: auto;
    padding: 10px 0 20px;
}

.logo .big-logo img {
    display: none;
    padding-bottom: 20px;

}

/* LISTA ICONE */
.list {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
}


.list .list-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.list .list-icon li {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;  
    
}

.list .list-icon img {
    width: 25px;
    height: auto;
    margin-bottom: 12px;
    mask-image: #5c5c5c;
}

.list .list-icon span {
    display: none;
    margin-bottom: 15px;  
}

.list .list-icon i{
    display: none;
}


.profile {
    background-color: #5c5c5c;
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    border: 1px solid white;
}



/* HEADER CONTENT */
.upgrade{
    text-align: right;
    margin-top: 20px;
    margin-right: 10px;
    
}
.btn-upgrade {
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 50px; 
    color: white;
    background-color: transparent;
    border: 2px solid white;    
    }


/* BODY CONTENT */

.list-category{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 0 30px;
    margin-bottom: 40px;
    margin-top: 25px;
}
.list-category li{
    border: 2px solid transparent;
}
.list-category a{
    color: #ffffff;
    opacity: 0.5;
}

.list-category li a:hover{
    border-bottom: 2px solid #adff2f;
    margin-bottom: 50px;
}

/* MAIN CONTENT STILE */
 .container-music{
    padding: 10px;
    width: 100%;
    
}


.list-music ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    list-style: none; /* Rimuove i punti dalla lista */
}

.list-music li {
    width: 200px;
    text-align: center;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.music-item img {
    width: 100%;
    height: auto; /* Mantiene le proporzioni corrette */
    object-fit: cover;
}

.music-item h3 {
    font-size: 16px;
    word-wrap: break-word; /* Spezza le parole lunghe */
    text-align: center;
    width: 100%; /* Mantiene il testo dentro il contenitore */
}

.music-item p {
    font-size: 14px;
    color: gray;
}



/* MODALITA S */
@media screen and (min-width: 576px) {
    .logo .small-logo img {
        display: none;
    }
    .logo .big-logo img {
        display: block;
        width: 135px;
        height: auto;
        margin-bottom: 20px;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        width: 100%;
    }

    /* Sidebar */
    .sidebar {
        align-items: flex-start;
        padding-left: 20px;
        width: 200px;
        flex-shrink: 0;

    }

    /* LISTA ICONE */
    /* .list {
        justify-content: flex-start;
        width: 100%;
    } */

    .list .list-icon {
        align-items: flex-start; 
    }

    .list .list-icon span {
        display: inline-block;
        color: #5c5c5c;
        
    }

    .list .list-icon i{
        display: block;
        font-size: 3.5em;
        color: #5c5c5c;
        padding-right: 50px;
        border-radius: 0%;
    }
    
    .list .list-icon i {
        width: 25px;
        height: auto;
        margin-bottom: 25px;
    }
    

    .list-icon hr{
        display: block;
        width: 90%;
        margin-bottom: 10px;
    }


    /* dimendione immagini */
    .list-music li {
        width: 165px;
        height: 165px;
    }

}

/* MODALITA TABLET */
@media screen and (min-width: 768px) {
    .list-music li {
        width: 145px;
        height: 145px;
    }

}
/* ---- MODALITÀ DESKTOP ---- */
@media screen and (min-width: 992px) {

    .list-music li {
        width: 180px;
        height: auto;
    }
}



