/* STILE IN COMUNE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Montserrat", serif;
    height: 100vh;
    
}

img{
    width: 100%;
    display: block;
}

hr{
    display: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1{
    color: #fbfcfb;
    margin-bottom: 20px;
    
}

h3{
    color: #fbfcfb;
    padding-bottom: 15px;
    padding-top: 15px;
}

p {
    color: #5c5c5c;
    font-weight: bold;
    margin-bottom: 40px;
}



/* LAYOUT */
.container {
    display: flex;
    height: calc(100% - 90px); /*  min-height invece di height per permettere la crescita */
}

.sidebar {
    background-color: #000000;
    width: 50px; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 15px;
    margin-top: auto;
    flex-shrink: 0;
    overflow-y: auto; /* Abilita lo scroll solo in verticale */
    overflow-x: hidden; /* Evita lo scroll orizzontale */
    
}



.main-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}

.header-content{
  
    height: 90px;
    background-color:#10151b;
}

.music-content{
   
    height: 100%;
    background-color: #151922;
    overflow-y: auto; /* Abilita lo scroll solo in verticale */
    overflow-x: hidden; /* Evita lo scroll orizzontale */
}



/* HOVER SIDEBAR */
.sidebar .list .list-icon li {
    cursor: pointer;
}

.sidebar .list .list-icon li:hover span {
    color: white; 
}



.sidebar .list .list-icon li:hover i {
    color: white;
}





footer{
    height: 90px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding: 0 10px;
}

/* STILE FOOTER MUSICA */

.left-menu, .right-menu {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.left-menu img{
    width: 40px;
    height: 40px;
    height: auto; /* Mantiene le proporzioni corrette */
    object-fit: cover;
}

.icon-left{
    color: #c1c1c1;
    cursor: pointer;
}

.icon-left div i:hover{
    color: white;
}


/* bottoni nella parte destra del footer */
/* Contenitore della barra del volume */
.volume-bar {
    width: 100px; 
    height: 5px; 
    background-color: #555; 
    border-radius: 5px;
}

/* Indicatore del livello del volume */
.volume-level {
    width: 40%; /* Percentuale del volume (modifica per simulare diversi livelli) */
    height: 100%;
    background-color: #c1c1c1; /* Colore della barra del volume */
    border-radius: 5px;
    cursor: pointer;
}

.volume-level:hover{
    background-color: #adff2f;
}


.icon-right{
    display: flex;
    gap: 10px;
    color: #c1c1c1;
    cursor: pointer;
} 

.right-menu .icon-right i:hover{
    color: white
}


/* bottoni play centrale */
.btn-start{
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
    font-size: 15px;
    justify-content: center;
}

.play-btn{
    font-size: 25px;
}

.btn-start div i {
    font-size: 24px; 
    cursor: pointer; 
}

.btn-start div i:hover {
    transform: scale(1.2); /* Ingrandisce l'icona */
    
}

.upgrade div button{
    cursor: pointer;
}

.upgrade div button:hover{
    transform: scale(1.2); 

}
/* volume barra centrale */
.volume-bar-center {

    width: 120px; 
    height: 5px;
    background-color: #555; 
    border-radius: 5px;
    text-align: center;
}

.volume-level-center {
    width: 40%; 
    height: 100%;
    background-color: #c1c1c1; 
    cursor: pointer;
}

.tempo-volume{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

.volume-level-center:hover{
    background-color: #adff2f;
}






/* LOGO */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.logo .small-logo img {
    width: 30px;
    height: auto;
    padding: 10px 0 20px;
}

.logo .big-logo img {
    display: none;
    padding-bottom: 20px;

}






/* LISTA ICONE */
.list {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
}


.list .list-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.list .list-icon li {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;  
    cursor: pointer;
}



.list .list-icon img {
    width: 25px;
    height: auto;
    margin-bottom: 12px;
    mask-image: #5c5c5c;
}

.list .list-icon span {
    display: none;
    margin-bottom: 15px;  
}

.list .list-icon i{
    display: none;
}


.profile {
    background-color: #5c5c5c;
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    border: 1px solid white;
}

/* HOVER SIDEBAR */

.list-icon li:hover {
    color: white;
}











/* HEADER CONTENT */
.upgrade{
    text-align: right;
    margin-top: 20px;
    margin-right: 10px;
    
}
.btn-upgrade {
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 50px; 
    color: white;
    background-color: transparent;
    border: 2px solid white;    
    }

    .upgrade div button{
        cursor: pointer;
    }
    
    .upgrade div button:hover{
        transform: scale(1.2); 
    
    }





/* BODY CONTENT */

.list-category{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 0 30px;
    margin-bottom: 40px;
    margin-top: 25px;
    
}
.list-category li{
    border: 2px solid transparent;
}
.list-category a{
    color: #ffffff;
    opacity: 0.5;
}

.list-category li a:hover {
    border-bottom: 2px solid #adff2f;
    margin-bottom: 50px;
    
}

.list-category li:hover a {
    color: white; 
    opacity: 1; 
}

/* MAIN CONTENT STILE */
 .container-music{
    padding: 40px;
    width: 100%;
}

/* HOVER DELLE COPERTINE */
.music-content .container-music .list-music .music-item{
    position: relative;
    cursor: pointer;
}

.music-content .container-music .list-music .album-hover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.music-content .container-music .list-music .music-item:hover .album-hover{
    display: flex;
    color: #ffffff;
    font-size: 50px;
}




.list-music ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    list-style: none; 
}

.list-music li {
    width: 200px;
    text-align: center;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.music-item img {
    width: 100%;
    height: auto; /* Mantiene le proporzioni corrette */
    object-fit: cover;
}

.music-item h3 {
    font-size: 16px;
    word-wrap: break-word; /* Spezza le parole lunghe */
    text-align: center;
    width: 100%; /* Mantiene il testo dentro il contenitore */
}

.music-item p {
    font-size: 14px;
    color: gray;
}

.img-circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}






/* MODALITA S */
@media screen and (min-width: 580px) {

    h1 {
        max-width: 100%;
        word-wrap: break-word;
        text-align: left; 
    }

    .container-music {
        padding: 20px; 
        width: 100%;
    }


    .logo .small-logo img {
        display: none;
    }
    .logo .big-logo img {
        display: block;
        width: 135px;
        height: auto;
        margin-bottom: 20px;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        width: 100%;
    }

    /* Sidebar */
    .sidebar {
        align-items: flex-start;
        padding-left: 20px;
        width: 200px;
        flex-shrink: 0;

    }

    .list .list-icon {
        align-items: flex-start; 
    }

    .list .list-icon span {
        display: inline-block;
        color: #5c5c5c;
        
    }

    .list .list-icon i{
        display: block;
        font-size: 3.5em;
        color: #5c5c5c;
        padding-right: 50px;
        border-radius: 0%;
    }
    
    .list .list-icon i {
        width: 25px;
        height: auto;
        margin-bottom: 25px;
    }
    

    .list-icon hr{
        display: block;
        width: 90%;
        margin-bottom: 10px;
    }

    .list-music ul {
        display: flex;
        flex-wrap: wrap; 
        gap: 20px; 
    }

    .list-music li {
        width: 160px; 
    }
}




@media screen and (min-width: 768px){
    .icon-left{
        display: flex;
        gap: 20px;
        margin-left: 10px;
    }


/* bottoni play centrale */
.btn-start{
    justify-content: center;
}

/* volume barra centrale */
.volume-bar-center {
    width: 250px; 
}

.tempo-volume{
    gap: 20px;
}

}


@media screen and (min-width: 992px){
    .volume-bar-center {
        width: 430px; 
    }
}